* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}
.secciones{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10rem;
    background-color: aqua;
}